*{
	margin:0;
	padding:0;
}
html, body {
            height: 100%;
}
body{
  background: -webkit-linear-gradient(left,rgba(0,150,255,1),rgba(150,0,255,1)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left,rgba(0,150,255,1),rgba(150,0,255,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left,rgba(0,150,255,1),rgba(150,0,255,1)); /* For Firefox 3.6 to 15 */
  background: -linear-gradient(left,rgba(0,150,255,1),rgba(150,0,255,1)); /* 标准语法 (必须在最后) */
}
.main h3{
	text-align: center;
	color: rgba(200,200,200,0.4);
	margin-bottom:5px;
}
.back{
	width:320px;
	margin:0 auto;
	box-shadow:20px 20px 20px rgba(0,0,0,0.4);
	border:1px rgba(255,255,255,0.4) solid;
}
.back:hover{
	box-shadow: 20px 20px 20px rgba(0,0,0,0.6);
}
.screen{
	width:100%;
	margin-top:2%;
	height:200px;
	color:rgb(255,255,255);
}
#inputContent{
	height:50%;
	border:1px rgba(255,255,255,0.5) solid;
	border-bottom: none;
	margin:0 5px;
}
#inputContent p{
	font-size:1.5em;
	color:rgba(250,250,250,0.7);
	text-shadow:10px 10px 2px rgba(0,0,0,0.5);
	word-break:break-all; 
	word-wrap:break-word ;
}
#result{
	margin:0 5px;
	border:1px rgba(255,255,255,0.5) solid;
	border-top:none; 
	height:100px;
}
#result p{
	word-break:break-all; 
	word-wrap:break-word ;
}
#result p:first-child{
	font-size: 1em;
	text-align: left;
	color:rgba(250,250,250,0.7);
	text-shadow:10px 10px 2px rgba(0,0,0,0.5);
}
#result p:nth-child(2){
	font-size: 2.5em;
	margin:0;
	text-align: right;
	color:rgba(250,250,250,0.8);
	text-shadow:10px 10px 2px rgba(0,0,0,0.8);
}
table{
	width:100%;
	border:0;
	margin:0;
	border-collapse:separate;
	border-spacing:5px;
}
table tr td{
	width:70px;
	height:70px;
	border:2px rgba(255,255,255,0.4) solid;
	color:rgba(250,250,250,0.4);
	text-align: center;
	font-size: 1.2em;
	cursor: pointer;
}
table tr td:hover{
	border:2px rgb(255,255,255) solid;
	border-radius: 5px;
	color:rgba(255,255,255,1);
	font-size: 2em;
	font-weight: bold;
	box-shadow: 20px 20px 20px rgba(0,0,0,1);
}
.footer{
	text-align: center;
	margin-top: 10%;
}


@media screen and (max-width: 420px) {
.main h3{
	display: none;/*变化*/
}
.back{
	width:100%;/*变化*/
	box-shadow:none;/*变化*/
}
.back:hover{
	box-shadow: none;/*变化*/
}
table tr td{
	border:2px rgba(255,255,255,0.8) solid;/*变化*/
	color:rgba(250,250,250,0.8);/*变化*/
}
table tr td:hover{
	border:2px rgba(255,255,255,0.8) solid;/*变化*/
	border-radius:none;/*变化*/
	color:rgba(250,250,250,0.8);/*变化*/
	font-size: 1.2em;/*变化*/
	font-weight: normal;/*变化*/
	box-shadow: none;/*变化*/
}

}